<!-- Header file inclusion -->
<%- include('include/-header') %>

<!-- main-site -->
<main id="site-main">
    <div class="continer">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> ALL USERS </a>
            </div>
        </div>
        <div class="form-title text-center">
            <h1 class="text-dark" > New User </h1>
            <span class="text-light"> Use The Below Form To save Changes </span>
        </div>
        <!-- add-user form includion -->
        <%- include('include/-form') %>
    </div>
</main>
<!-- /main-site -->

<!-- footer file inclusion -->
<%- include('include/-footer') %>