<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer dbs app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <!--Header-->
        <header id="header">
            <nav>
                <div class="continer">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark"> User Management System </a>
                    </div>
                </div>
            </nav>
        </header>
    <!--/Header-->

    <!-- main-site -->
        <main id="site-main">
            <div class="continer">
                <div class="box-nav d-flex-justify-between">
                    <a href="/add-user" class="border-shadow">
                        <span class="text-gradient"> New User <i class="fa fa-user" aria-hidden="true"></i> </span>
                    </a>
                </div>
            </div>
            <!--Form Handling-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>@EMAIL</th>
                            <th>GENDER</th>
                            <th>STATUS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>UserName</td>
                            <td>example@gmail.com</td>
                            <td>Male</td>
                            <td>Active</td>
                            <td>
                                <a href="#" class="btn border-shadow update">
                                    <span class="text-gradient"> <i class="fas fa-pencil-alt"></i> </span>
                                </a>
                                <a class="btn border-shadow delete">
                                    <span class="text-gradient"> <i class="fas fa-times"></i> </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </main>
    <!-- /main-site -->
</body>
</html>